* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans";
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
.h1-div {
  color: red;
}
.dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 580px;
  height: fit-content;
  border-radius: 8px;
  padding: 12px;
  border: 2px solid rgb(97, 97, 97);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/img/storms.PNG);
  background-position: center;
  margin-top: 60px;
  transition: all 0.3s ease-in;
  box-shadow: 2px 4px 10px black;

  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.dashboard:hover {
  box-shadow: 4px 6px 12px black;
  transform: scale(1.1);
}
.dashboard-overlay {
  position: absolute;
  top: -45px;
  right: -50px;
}
.dashboard-overlay img {
  width: 400px;
  height: auto;
}
.location {
  display: flex;
  gap: 6px;
  align-items: center;
}
.location h3 {
  font-weight: 400;
}
.date-time {
  margin: 12px 0;
}
.date-time h2 {
  font-weight: 400;
  font-size: 24px;
}
.date-time h1 {
  font-weight: 400;
  font-size: 50px;
}
.date-time .date-time-h1 {
  padding-left: 4px;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
.dashboard-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 400;
  gap: 80px;
}
.info1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info-savings {
  display: flex;
  gap: 16px;
}
.info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.info2 h1 {
  font-size: 50px;
  font-weight: 500;
}
.info2 p {
  font-weight: 400;
}
.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid gray;
  width: 100%;
  padding: 12px 0;
}
.days .day {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.days .day img {
  width: 70px;
  height: 70px;
}
